.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement,
.InputElementInvalid {
  outline: none;
  border: 1px solid #ccc;
  background-color: #FFFFE0;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing:border-box;
}


.InputElementInvalid {
  box-sizing:border-box;
  border: 1px solid red;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}
